

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bucarsrv.com/wp-content/uploads/2017/08/diesel-motorhome-calgary.jpg);">
  <div class="container justify-content-between d-flex ">
    <div class='banner-welcome'>
      <h1>Bem-vindos ao <strong>Tem Trailer</strong></h1>
      <p>Venha descobrir os melhores trailers do mercado</p>
      <p>O AirBnb dos Trailers</p>
      <%= link_to "View all Trailers", trailers_path, class:"btn btn-flat"%>
    </div>
    <div class="card-form p-4 card-border">
      <h1>Search - será aqui</h1>

      <%= form_tag trailers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your trailer"
        %>
        <%= select_tag :capacity, options_for_select((1..8)),
          class: "form-control",
          placeholder: "Numero de pessoas"
        %>
        <%= date_select("reservation", "start_date") %>

        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>

</div  class="margin-top-4 margin-sm:top-2 margin-md:x-1" >
  <div class="text-center p-5">
  <h1><strong>Como funciona</strong></h1>
  </div>
    <div>
      <i class="bi bi-check-circle"></i>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16" class="pl-15">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
      </svg>
    </div>




</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
