<div class="container mt-4">

  <h1>Trailers#index</h1>
  <p>Find me in app/views/trailers/index.html.erb</p>

  <div class="row">

    <div class="col-7">
      <% # Iteracao sobre cada um dos trailers %>
      <div class="row">
        <% @trailers.each do |trailer| %>
          <% #Crio um card com a largura definida abaixo %>
          <div class="card m-2 card-main card-border col-5" style="width: 100%">
            <% #card vai ter a image do trailer %>
            <div class="card-image">
              <%= cl_image_tag trailer.photo.key, class:"card-img-top mt-2"%>
            </div>
            <% #corpo com texto do card %>
            <div class="card-body">
              <% #Link clicavel com o modelo do trailer %>
              <%= link_to trailer_path(trailer), class:"card-link card-title" do %>
                <h5 class="card-title"> <%= trailer.model %></h5>
              <% end %>
              <% #descricao pequena do trailer %>
              <p class="card-text"> Descrição: <%= trailer.description %></p>
              <p class="card-text"> $ <%= trailer.price %> a diária </p>
               <p class="card-text"> Capacidade: <%= trailer.onboard_capacity %> pessoas </p>

              <hr>
              <% #botoes dos cards %>

              <div class="d-flex text-right">
                <%= link_to "More info", trailer_path(trailer), class:"card-link" %>
                <% # if trailer.user == current_user || current_user.admin? %>
                  <%= link_to "Edit", edit_trailer_path(trailer), class:"card-link card-edit" %>
                  <%= link_to "Delete", trailer_path(trailer), method: :delete,
                  data: { confirm: "Are you sure?" }, class:"card-link card-delete" %>
                <% # end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-5">
      <div id="map" class="position-fixed"
         style="width: 100%; height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>


