<div class="container mt-4">

  <div class="text-center my-4">

    <h1><strong>Seus trailers</strong></h1>

  </div>


  <% if @trailers.present? %>
    <% @trailers.each do |trailer| %>
        <div class="card">
          <div class="d-flex justify-content-between p-3">
          <div>
            <h1><%= trailer.model %></h1>
            <p>  <%= trailer.description %> </p>
            <div class="card-trailers">
          <%= cl_image_tag trailer.photo.key, class:"card-img-top mt-2 ml-4"%>

            </div>
          </div>

          <div class="d-flex align-items-center">
            <%= link_to "Gerencie as reservas do trailer", user_trailer_path(trailer), class:"btn btn-primary" %>

          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h1>Você não tem um trailer cadastrado</h1>
    <%= link_to "Cadastre seu trailer", new_trailer_path, class:"btn btn-primary" %>
  <% end %>

</div>
