<div class="container mt-4">

  <h1>Todas as reservas de <%= @trailer.model %> </h1>

  <% @trailer.reservations.each do |reservation| %>
    <div class="card d-flex justify-content-between">
      <div>Cliente: <%= reservation.user.first_name %></div>
      <div>Início: <%= reservation.start_date.strftime("%Y/%m/%d") %></div>
      <div>Término: <%= reservation.end_date.strftime("%Y/%m/%d") %></div>
      <div>Preço: <%= reservation.price %></div>
    </div>
  <% end %>

</div>
